@import url(http://fonts.googleapis.com/css?family=Rammetto+One|Podkova);
html {
  background-color: #FFFF99;
}

header {
  color: #808080;
  font-family: 'Rammetto One', cursive;
}
form {
  font-family: 'Podkova', serif;
}
ul {
  list-style: none;
  list-style-type: none;

}
